.menu{
    display: flex;
    justify-content: end;
    color: #EEEE;
    text-align: center;
    margin-right: 10%;

    li{
       list-style-type: none; 
       margin-bottom: 4px;
    }
    a:hover{
        color: #00ADB5;
    }
}